<!DOCTYPE html>
<html>
<head>
  <title>Kore Infotech Attendance System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  <%= link_to "Listings", welcome_listing_path %>
  <%= link_to "Contact Us", welcome_contactus_path %>
  <%= link_to "Login", root_path %>
  <%= link_to "FAQ", welcome_faq_path %>
<%= yield %>

</body>
</html>
